h1 {
    text-align: center;
}
h3 {
    font-size: 23px;
}
ol {
    font-size: 20px;
}
ol li {
    margin-block: 12px;
}

h2 {
    margin-top: 28px;
}

.use {
    font-style: italic;
}

.stu {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 40px;
}

.stuInf {
    margin-right: 60px;
    margin-top: 45px;
}

.stuInf a {
    text-decoration: none;
}

.goBack {
    display: block;
    color: blue;
    font-size: 28px;
    margin-top: 30px;
}

.stuInf a:hover {
    color: red;
}

.stuInf label {
    font-weight: bold;
}

.stuInf p {
    font-size: 23px;
}

.stuImg h3 {
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 24px;
}

.stuImg img {
    object-fit: cover;
}
